extends layout

block content
  div(class="col s11 m6", id="title") #{title}
  div(class="col s11 m6", id="subtitle") #{subtitle}

  if author
    h2 Tell what's on your mind
    form(method='POST' action='/create')
              div.form-group

                label(for='message') Post text:
                input#content.form-control(type='text' name='message')
              button.btn.btn-primary(type='submit') Submit new post


  ul
  each post in posts
    if post.time.getMinutes() < 10
      if post.time.getSeconds() < 10
        div(class="flow-text" id="comment") #{post.author}: #{post.message} 
        div(id="commentTime") - #{post.time.getFullYear()}.#{(post.time.getMonth()+1)}.#{post.time.getDate()} #{post.time.getHours()}:0#{post.time.getMinutes()}:0#{post.time.getSeconds()}
      else
        div(class="flow-text" id="comment") #{post.author}: #{post.message} 
        div(id="commentTime") - #{post.time.getFullYear()}.#{(post.time.getMonth()+1)}.#{post.time.getDate()} #{post.time.getHours()}:0#{post.time.getMinutes()}:#{post.time.getSeconds()}
    else
      if post.time.getSeconds() < 10
        div(class="flow-text" id="comment") #{post.author}: #{post.message} 
        div(id="commentTime") - #{post.time.getFullYear()}.#{(post.time.getMonth()+1)}.#{post.time.getDate()} #{post.time.getHours()}:#{post.time.getMinutes()}:0#{post.time.getSeconds()}
      else
        div(class="flow-text" id="comment") #{post.author}: #{post.message} 
        div(id="commentTime") - #{post.time.getFullYear()}.#{(post.time.getMonth()+1)}.#{post.time.getDate()} #{post.time.getHours()}:#{post.time.getMinutes()}:#{post.time.getSeconds()}
  else
    p Looks like there are no posts here yet!

  